@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 3.2rem);
  background: #f7efef;
}
::after,
::before {
  transition: all 0.3s ease-in;
}
/* header */
.header {
  width: 100%;
  height: 75vh;
  position: relative;
}
.header::before {
  content: "HTML";
  color: #ece9e5;
  right: 0px;
}
.bg-text::before {
  font-size: 21rem;
  font-weight: 900;
  position: absolute;
  letter-spacing: 10px;
  top: 50%;
  transform: translate(0%, -50%);
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #d9e0ff;
}
.tag {
  color: #3f51b5;
  font-size: 20px;
  font-weight: bold;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  text-decoration: none;
  color: #3f51b5;
  position: relative;
}
nav ul li a::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #3f51b5;
  position: absolute;
  bottom: -6px;
  right: 0px;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #3f51b5;
  position: absolute;
  top: -6px;
  left: 0px;
}

nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover::before {
  width: 100%;
}
.text-box {
  max-width: 600px;
  margin: 230px 10%;
  position: absolute;
}
.text-box h1 {
  font-size: 45px;
  margin-bottom: 20px;
  color: #3f51b5;
}
.text-box h1 span {
  color: grey;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #3f51b5;
  border: 2px solid #3f51b5;
  position: relative;
  z-index: 1;
  padding: 10px 30px;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 6px;
}
.btn::before {
  width: 0%;
  height: 100%;
  background-color: #3f51b5;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.btn:hover {
  color: white;
}
.btn:hover::before {
  width: 100%;
}

.user-image {
  position: absolute;
  top: 0;
  right: 12%;
  z-index: 1;
}
.user-image img {
  display: block;
  padding-top: 85px;
  width: 410px;
  margin-bottom: -205px;
  border-radius: 0px 0px 200px 200px;
}

.hamb {
  display: flex;
  justify-content: space-between;
}
.hamb img {
  display: none;
}

/* skills */

.skills {
  text-align: center;
  margin: 2.5rem auto;
  background-image: url(./image/sec-banner.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.2rem 0;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
}

.skills::before {
  content: "CSS";
  color: #4153b9;
  left: 0px;
}
.skill-header {
  margin-bottom: 1rem;
  color: white;
}
.skills-wrapper {
  position: relative;
}
.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  border-radius: 11px;
  box-shadow: 0 3px 10px grey;
  padding: 20px;
  margin: 10px;
}

/* projects */
.projects {
  position: relative;
  margin-bottom: 5rem;
}
.projects::before {
  content: "JavaScript";
  position: absolute;
  right: 0;
  z-index: -1;
  color: #ece9e5;
}
.projects-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.projects h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: grey;
}
.item {
  text-align: center;
  border-radius: 4px;
  width: 400px;
  background-color: #cccccc;
  margin: 20px 20px;
  box-shadow: 0 3px 10px grey;
}
.item img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.projects img {
  width: 100%;
  margin-bottom: 10px;
}
.projects h3 {
  margin-bottom: 10px;
}
.projects p {
  margin-bottom: 10px;
}
.projects a {
  margin: 20px 0;
}

/* footer */

footer {
  padding: 2rem 0rem;
  background-color: #3f51b5;
  color: white;
  text-align: center;
  font-weight: 600;
}

@media screen and (width: 1280px) {
  nav {
    padding: 20px 8%;
  }
  .text-box {
    margin: 230px 8%;
  }
  .user-image {
    right: 10%;
  }
}

@media screen and (max-width: 1224px) {
  .bg-text::before {
    font-size: 11rem;
  }
  nav ul li {
    display: block;
    margin: 15px 0px;
  }
  nav {
    display: block;
  }
  .user-image {
    display: none;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3f51b5;
    height: 100vh;
    max-width: 242px;
    width: 100%;
    position: fixed;
    left: -370px;
    z-index: 200;
    top: 0;
    transition: all 0.3s ease-in;
  }
  nav ul li a {
    color: white;
  }
  nav ul li a::before {
    background-color: white;
  }
  nav ul li a::after {
    background-color: white;
  }
  .text-box {
    margin: 9em 10% 9em;
  }
  .active {
    left: 0;
  }
  .hamb img {
    display: block;
  }
  .skills {
    height: 100%;
    margin: 0;
    margin-bottom: 5rem;
  }
  .skill-header {
    position: relative;
  }
  .skills-wrapper img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-height: 766px) {
  .header {
    height: 100vh;
  }
}

@media screen and (max-width: 912px) and (min-height: 1024px) {
  .header {
    height: 55vh;
  }
}
